aside{
    width: 330px;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 999;
}

.aside-top{
    width: 100%;
}

.aside-bottom{
    width: 100%;
    margin-top: 20px;
}

.aside-steps{
    display: flex;
    flex-direction: column;
}

.aside-step{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: default;
}

.aside-step-circle{
    border: 1px solid var(--input-text-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: var(--input-text-color);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

.aside-step-circle.active{
    border:var(--primary-color);
    background-color: var(--primary-color);
    color: var(--background-color);
}

.aside-logo{
    cursor: pointer;
}

main{
    margin-left: 330px;
}

.login-form,
.register-form,
.setup-form{
    display: flex;
    flex-direction: column;
    max-width: 550px;
}

.login-form-checkbox{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.login-form-checkbox input{
    margin-right: 10px;
}

.login-form-note,
.register-form-note,
.setup-form-note{
    display: flex;
    justify-content: flex-end;
}

.setup-form-preview{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.setup-form-preview img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.setup-form-preview input{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
}

.notification{
    position: fixed;
    right: 20px;
    bottom: 30px;
    background-color: var(--primary-color);
    z-index: 10;
    width: 330px;
    border: 2px solid var(--background-color);
    transition: 0.5s ease-in-out;
    border-radius: 10px;
}

.notification-inner{
    padding: 20px;
}